<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>心码科技</title>

    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
    <!-- Stylesheet -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/js/flexslider/flexslider.css}" rel="stylesheet">
    <link th:href="@{/js/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/js/owl.carousel/assets/owl.theme.default.min.css}" rel="stylesheet">
    <link th:href="@{/js/slicknav/slicknav.min.css}" rel="stylesheet">
    <link th:href="@{/js/lightcase/css/lightcase.css}" rel="stylesheet">
    <link th:href="@{/js/fakeLoader/fakeLoader.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</div>
</html>